<div class="container loginsignup-img">
<div class="container-fluid">
  <div class="col-md-2 col-lg-3 col-centered">

    <legend>加入<span class="logo">AnDjob</span></legend>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true, label: "Email", placeholder: "請輸入Email", type: "email", value: "", name: "user[email]", id: "user_email", input_html: { class: "string email required form-control" } %>
        <%= f.input :name, required: true, label: "暱稱", placeholder: "請輸入暱稱" %>
        <br />
        <%= f.input :is_admin, as: :radio_buttons, collection:  [['求職工作者', false], ['求才企業主', true]], required: true, label: "以何種身份註冊？" %>
        <%= f.input :password, required: true, label: "密碼", placeholder: "請輸入至少6位數密碼", type: "password", name: "user[password]", id: "user_password", input_html: { class: "form-group password required user_password"} %>
        <%= f.input :password_confirmation, required: true, label: "密碼確認", placeholder: "請再輸入一遍密碼確認", type: "password", name: "user[password_confirmation]", id: "user_password_confirmation", input_html: { class: "form-group password required user_password_confirmation"} %>
      </div>

      <br />

      <div class="form-actions">
        <%= f.button :submit, "註冊" %>
      </div>
    <% end %>

    <br />
    已擁有帳號？<a href="/users/sign_in">點此登入</a>
    <br />

  </div>
</div>
</div>
