<div class="customed-flash" >
  <%= render "common/flashes" %>
</div>


<div class="container-fluid">
  <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= @job.title %> | <%= @job.company %>
          <% if current_user && current_user.favorite?(@job) %>
          <%= link_to discollect_job_path(@job), method: :post do %><i class="fa fa-bookmark" aria-hidden="true"></i><% end %>
          <% else %>
          <%= link_to collect_job_path(@job), method: :post do %><i class="fa fa-bookmark-o" aria-hidden="true"></i><% end %>
          <% end %>
        </h3>
      </div>
      <div class="panel-body">
        <p>
          <span class="infotext">工作內容 </sapn> <br>
            <%= simple_format(@job.description, class: "job-description") %>
          </p>
          <div class="divider"></div>
        <p>
          <span class="infotext">工作地點 </span> <%= @job.city %>
        </p>

        <!-- 測試用，顯示工作地點資訊 -->
        <!-- <p>緯度：<%= @job.latitude %></p>
        <p>經度：<%= @job.longitude %></p> -->
        <p>地址 - <%= @job.address %></p>

        <!-- 顯示 Google Map -->
        <div id="map"></div>
        <!-- Google Map 相關代碼 -->
        <!-- 請先取得 Google Map API Key（API 金鑰），並用取得的 API 金鑰取代「你的API金鑰」-->
        <script src="//maps.google.com/maps/api/js?key=AIzaSyAJhrRiic7CgJeAaXT95xzSf7FzQdlgmcw"></script>
        <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

        <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(<%=raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
        </script>
        <!-- 顯示 Google Map -end-->

        <p>
          <span class="infotext">發佈時間 </span> <%= time_ago_in_words(@job.created_at) %> ago
        </p>
        <p>
          <span class="infotext">連絡信箱 </span> <%= @job.contact_email %>
        </p>
        <div class="text-center">
          <% if current_user && current_user.has_applied?(@job) %>
	         <%= link_to("已投遞履歷", '#', class: "btn disabled") %>
          <% else %>
           <%= link_to("投交履歷", new_job_resume_path(@job), class: "btn btn-primary") %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
