<div class="container home-img">
      <!-- <div class="intro-content"> -->
      <div class="jumbotron-h">
        <h1 class="jumbotron .h1 logo">AnDjob</h1>
        <p>一份好工作，給 藝術 / 設計 工作者的你。</p>
      </div>
      <!-- </div> -->
</div>


<div>
  <div class="container light circleBehind">
  <div>
    <a href="/jobs">&gt&gt瀏覽工作</a>
  </div>
  </div>
</div>
<!--
<div class="container indigo topLeftBorders">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div> -->


<div class="container art-img pullDown">
  <div class="jumbotron-a">
    <h1 class="logo">A</h1>

  </div>
  <p>
  <%= link_to("藝術創作", jobs_path(:category => "藝術創作")) %>
  <%= link_to("圖文插畫", jobs_path(:category => "圖文插畫")) %>
  </p>
  <br />
  <%= link_to("攝影", jobs_path(:category => "攝影")) %>
  <%= link_to("文學", jobs_path(:category => "文學")) %>
  </p>
  <br />
  <%= link_to("音樂", jobs_path(:category => "音樂")) %>
  <%= link_to("舞蹈", jobs_path(:category => "舞蹈")) %>
  </p>
  <br />
  <%= link_to("戲劇/電影/舞台/劇場", jobs_path(:category => "戲劇/電影/舞台/劇場")) %>
</div>

<div class="container design-img pullDown">
  <div class="jumbotron-d">
    <h1 class="logo">D</h1>

  </div>
  <p>
  <%= link_to("時尚", jobs_path(:category => "時尚")) %>
  <%= link_to("工業/產品", jobs_path(:category => "工業/產品")) %>
  </p>
  <br />
  <%= link_to("視覺", jobs_path(:category => "視覺")) %>
  <%= link_to("數位媒體", jobs_path(:category => "數位媒體")) %>
  </p>
  <br />
  <%= link_to("建築/室內", jobs_path(:category => "建築/室內")) %>
  <%= link_to("都市/景觀", jobs_path(:category => "都市/景觀")) %>
</div>

<!-- <div class="jumbotron">
  <h1>Jumbotron</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div> -->



<!-- <header class="container-fluid" style="margin-top: 15px;">
  <h1>AnDjob</h1>
    <p class="lead">一份好工作，給藝術/設計工作者的你。</p>
    <p><a class="btn btn-primary"href="/jobs">開始瀏覽職缺</a></p>
</header> -->

<!-- <div class="container red topBotomBordersOut">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div>

<div class="container purple topBotomBordersIn">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div>

<div class="container indigo topLeftBorders">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div>

<div class="container blue circleBehind">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div> -->

<!-- <div class="container cyan brackets">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div> -->

<!-- <div class="container teal borderYtoX">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div>

<div class="container green borderXwidth">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div>

<div class="container lightGreen pullDown">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div>

<div class="container lime pullUp">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div>

<div class="container yellow pullRight">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div>

<div class="container amber pullLeft">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div>

<div class="container orange pullUpDown">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div> -->


<!-- <div class="container brown highlightTextOut">
  <a alt="HOME">HOME</a>
  <a alt="ARTICLES">ARTICLES</a>
  <a alt="PORTFOLIO">PORTFOLIO</a>
  <a alt="ABOUT">ABOUT</a>
  <a alt="CONTACT">CONTACT</a>
</div>

<div class="container gray highlightTextIn">
  <a alt="HOME">HOME</a>
  <a alt="ARTICLES">ARTICLES</a>
  <a alt="PORTFOLIO">PORTFOLIO</a>
  <a alt="ABOUT">ABOUT</a>
  <a alt="CONTACT">CONTACT</a>
</div> -->
