<div style="margin-top:50px;">
<br><br>
<div class="col-md-9 col-centered">
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title"><div class="pull-right">
      <%= link_to("新增工作", new_admin_job_path, :class => "btn btn-default" )%>
    </div></h3>
  </div>
  <div class="panel-body">
    <table class="table table-boldered table-hover">
      <thead>
        <tr>
          <!-- <td>公司名稱</td> -->
          <td>工作類別</td>
          <td>工作名稱</td>
          <td>收到履歷數量</td>
          <td>薪資範圍</td>
          <td>管理選項</td>
          <td>刊登時間</td>
        </tr>
      </thead>

      <% @jobs.each do |job| %>
      <tr>
        <!-- <td><%= link_to(job.company, admin_job_path(job)) %></td> -->
        <td><%= link_to(job.category, admin_job_path(job)) %></td>
        <td><%= link_to(job.title, admin_job_path(job)) %></td>
        <td><%= link_to(job.resumes.count, admin_job_resumes_path(job)) %> </td>
        <td><%= job.wage_lower_bound %> ~ <%= job.wage_upper_bound %></td>
        <td>
          <%= link_to edit_admin_job_path(job), class: "btn btn-xs btn-info" do %><i class="fa fa-pencil fa-fw"></i><% end %>
          <%= link_to admin_job_path(job), :method => :delete, :class => "btn btn-xs  btn-danger", :data => { :confirm => "Are you sure?" } do %><i class="fa fa-trash-o fa-fw"></i><% end %>
          <% if job.is_hidden %>
            <%= link_to publish_admin_job_path(job) , :method => :post, :class => "btn btn-xs btn-success" do %><i class="fa fa-eye fa-fw"></i><% end %>
          <% else %>
            <%= link_to hide_admin_job_path(job), :method => :post,  :class => "btn btn-xs btn-warning" do %><i class="fa fa-eye-slash fa-fw"></i><% end %>
          <% end %>
        </td>
        <td><%= time_ago_in_words(job.created_at) %> ago</td>
      </tr>
      <% end %>
    </table>

    <div class="text-center">
      <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
    </div>

  </div>
</div>
</div>
</div>
