<div class="container-fluid">
  <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= @job.title %> | <%= @job.company %>
        </h3>
      </div>
      <div class="panel-body">
        <p>
          <span class="infotext">工作內容 </sapn> <br>
            <%= simple_format(@job.description, class: "job-description") %>
          </p>
          <div class="divider"></div>
        <p>
          <span class="infotext">工作地點 </span> <%= @job.city %>
        </p>
        <p>
          <span class="infotext">發佈時間 </span> <%= time_ago_in_words(@job.created_at) %> ago
        </p>
        <p>
          <span class="infotext">連絡信箱 </span> <%= @job.contact_email %>
        </p>


      </div>
    </div>
  </div>
</div>
